<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>update</h2>
    <form action="/member/update" method="post">
        <input type="hidden" th:value="${memberDTO.id}" name="id"> <br>
        <input type="text" th:value="${memberDTO.memberEmail}" name="memberEmail" placeholder="Email"> <br>
        <input type="text" th:value="${memberDTO.memberPassword}" name="memberPassword" placeholder="Password"> <br>
        <input type="text" th:value="${memberDTO.memberName}" name="memberName" placeholder="Name"> <br>
        <input type="text" th:value="${memberDTO.memberAge}" name="memberAge" placeholder="Age"> <br>
        <input type="text" th:value="${memberDTO.memberPhone}" name="memberPhone" placeholder="Phone"> <br>
        <input type="submit" value="수정">
    </form>

</body>
</html>